<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uia.GIDA.thermalmachines"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uia.GIDA.thermalmachines.MainActivityOtto"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="uia.GIDA.thermalmachines.Results2"
            android:label="@string/title_activity_results2" >
        </activity>
        <activity
            android:name="uia.GIDA.thermalmachines.ProcesActivity"
            android:label="@string/title_activity_proces" >
        </activity>
        <activity
            android:name="uia.GIDA.thermalmachines.WorkActivity"
            android:label="@string/title_activity_work" >
        </activity>
        <activity
            android:name="uia.GIDA.thermalmachines.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity 
            android:name="uia.GIDA.thermalmachines.IntroActivity"
            android:label="@string/title_activity_intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    </application>

</manifest>